body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#opponent-choice {
    width: 320px;
    height: 240px;
    background-color: cyan;
    margin-top: 10px;
}

#your-choice {
    width: 320px;
    height: 240px;
    background-color: yellow;
    margin-top: 10px;
}

#choices {
    width: 280px;
    height: 80px;
    /*background-color: green;*/
    margin: 0 auto;
    margin-top: 10px;
    gap: 20px;
    display: flex;
}

#choices img {
    width: 80px;
    height: 80px;
}
